@import 'variables'

.menu-container
    max-width: 950px
    margin: 0 auto
    height: 150px

    .logo
        margin-top: 50px

    nav
        float: right
        font-size: 16px
        margin-top: 65px
        font-weight: 500

        a:not(.button)
            color: rgba(255, 255, 255, .5)
            position: relative
            margin-right: 14px

            &:after
                content: ""
                display: inline-block
                position: absolute
                bottom: -5px
                background-color: white
                width: 0
                height: 2px
                left: 0
                transition: all .2s ease

            &:hover, &.is-active
                color: white

                &:after
                    width: 100%