<div class="menu-container">
    <div class="content-container">
        <a [routerLink]="['/home']"><img src="assets/mga_crest.png" alt="MGA" class="logo"/></a>
        <nav>
            <a [routerLink]="['/home']" [routerLinkActive]="'is-active'">Home</a>
            <a *ngIf="user.user_type === '1'" [routerLink]="['/admin']" [routerLinkActive]="'is-active'">Admin</a>
            <a [routerLink]="['/login']" class="button">Logout</a>
        </nav>
    </div>
</div>

<div *ngIf="minutesTillExpiry < 50" class="revalidate-login">
    <div class="notification cf">
        <img src="assets/caution.png" alt="Caution" class="logo"/>
        <p> Your session will expire in {{ minutesTillExpiry }} minutes. Enter password to renew.</p>
        <form (ngSubmit)="f.form.valid && login()" #f="ngForm" class="form-group" novalidate>
            <input class="password" type="password" [(ngModel)]="model.password" #password="ngModel" placeholder="Password" name="password" required="required">
            <button type="submit" class="button">Renew</button>
        </form>
    </div>
</div>

    