body{
	padding: 0;
	position: relative;
}
.background-image{
	background-image: url(img/MGSU.jpg);
	background-size: cover;
	background-position: center center;
	position: fixed;		/*relative if scrolling*/
	top:0;
	bottom:0;
	left:0;
	right:0;
}
.overlay-right{
	position:absolute;
	top:0;
	right:0;
	bottom:0;
	background:rgba(255, 255, 255, 0.90);
	color:rgb(99, 51, 148);
	width:45%;
}
.overlay-left{
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	background:rgba(99, 51, 148, 0.4);
	color:white;
	width:55%;
}
.img-responsive{
	margin:0 auto;
	width:80%;
}
form{
	margin:0 auto;
	width:50%;
}
input[type=text], input[type=password] {
    margin: 8px 0;
	width:70%;
}
label{
	font-size:1.2em;
}
input[type=password]{
	margin-left:2px
}
.button {
    background-color: rgb(99, 51, 148); /* Green */
    border: none;
    color: white;
    padding: 10px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
	border-radius:4px;
}
.button:hover {
    background-color: white;
    color: rgb(99, 51, 148);
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}