@import 'variables'

.login-container
	position: relative
	min-height: 100vh

	form
		margin-top: 20px
		text-align: center
		padding: 20px

		input
			width: 250px
	
		input[type=email]
			margin-bottom: 10px
	
		button
			width: 250px

.v-center-container
	position: absolute
	top: 50%
	left: 50%
	transform: translate(-50%, -50%)

.header

	.logo
		max-width: 200px
		display: block
		margin: 0 auto

	h1
		font-weight: 700
		text-align: center
		font-size: 18px
		color: rgba(255, 255, 255, .9)
		margin-top: 30px

	p
		font-weight: 400
		font-size: 14px
		color: #888
		margin-top: 5px
		text-align: center