<div class="login-container">
    <div class="v-center-container">
      <div class="header">
        <img class="logo" src="assets/MGSULogo2.png" alt="Middle Georgia State University Logo">
        <h1>Assessments Matrix</h1>
        <p>Please sign in to continue.</p>
      </div>

      <form (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>
        <div class="form-group">
          <div *ngIf="f.submitted && !email.valid" class="error">Email is required</div>
          <input class="email" type="email" [(ngModel)]="model.email" name="email" placeholder="Email" autofocus #email="ngModel" required="required">
        </div>
        <div class="form-group">
          <div *ngIf="f.submitted && !password.valid" class="error">Password is required</div>
          <input class="password" type="password" [(ngModel)]="model.password" #password="ngModel" placeholder="Password" name="password" required="required">
        </div>
        <div class="form-group">
          <button type="submit">Login</button>
        </div>
        <a [routerLink]="['/register']" class="register-link">Don't have an account? Click here to register.</a>
      </form>
    </div>
</div>