<menu-bar></menu-bar>

<section class="current-class cf">
  <div class="section-header">
    <a class="active">Your Class</a>
  </div>

  <aside>
    <h1>This is Your Class.</h1>
    <p>You are working on completing assessments for this class.  Closing this page at any point will automatically save your information.</p>
    <button class="delete-course" (click)="deleteCourse()"><span *ngIf="!deleteCourseConfirm">Delete this course?</span><span *ngIf="deleteCourseConfirm">This cannot be reversed. Click again to confirm.</span></button>
  </aside>

  <div class="content cf">
    <div *ngIf="course" class="course-card" [routerLink]="['/assessment', course.crn]">
      <h3 class="course-title">{{ course.course_type }} {{ course.course_name }}</h3>
      <p class="course-data"><span class="crn">{{ course.crn }} -</span> SLO <span *ngFor="let slo of course.assigned_slos; let isLast=last">#{{ slo.slo_id }}{{isLast ? '' : ', '}}</span></p>
    </div>

  </div>
  
</section>


<section class="current-class cf">
  <div class="section-header">
    <a (click)="loadSection('Add Students')" [ngClass]="{ active: currentSection == 'Add Students' }">Add Students</a>
    <a (click)="loadSection('Assess Students')" [ngClass]="{ active: currentSection == 'Assess Students' }">Assess Students</a>
    <a (click)="loadSection('Leave Comments')" [ngClass]="{ active: currentSection == 'Leave Comments' }">Leave Comments</a>
  </div>

  <app-add-students [course]="course" (update)="updateCourse()" (advance)="nextSection()" *ngIf="currentSection == 'Add Students'"></app-add-students>
  <app-assess-students *ngIf="currentSection == 'Assess Students'"></app-assess-students>
</section>