@import 'variables'

.generate-report

    .export
        float: right
        color: rgba(255, 255, 255, .9)

        &.loading
        padding: 11px 33px

        img
            width: 20px
    
    .file-url
        font-family: $f
        float: right
        clear: right
        font-style: italic
        color: rgba(255, 255, 255, .8)
        text-align: left
        margin: 0
        padding: 0
        margin-top: 10px

        &:hover
            text-decoration: underline