@import 'variables'

.generate-report

    .export
        float: right
        color: rgba(255, 255, 255, .9)

        &.loading
        padding: 11px 33px

        img
            width: 20px
    
    .file-url
        font-family: $f
        float: right
        clear: right
        font-style: italic
        color: rgba(255, 255, 255, .8)
        text-align: left
        margin: 0
        padding: 0
        margin-top: 10px

        &:hover
            text-decoration: underline

.faculty-progress

    .faculty-group
        margin-top: 40px

        h3
            font-family: $f
            font-size: 16px
            font-weight: 500
            color: rgba(255, 255, 255, .9)
            margin-top: 20px
        
        .courses
            margin-top: 14px

            span
                font-family: $f
                font-weight: 400
                margin-right: 7px
                font-size: 14px
                padding: 5px 10px
                border-radius: 5px
                color: rgba(255, 255, 255, .9)
                background-color: $c-form-bg
                border: 1px solid $c-error

                &.complete
                    border: 1px solid $c-success