@import 'variables'

aside
    h3
        font-family: $f
        color: rgba(255, 255, 255, .85)
        font-size: 18px
        margin-top: 20px
    
    button
        margin-top: 30px
        color: white

.assess-student-form
    width: 600px
    float: right

    button
        margin-right: 10px
        color: rgba(255, 255, 255, .6)
        vertical-align: top

        &.loading
            padding: 11px 33px

        img
            width: 20px

        &:hover, &:focus
            color: rgba(255, 255, 255, .9)

    .current-student

        label
            display: block
            font-family: $f
            font-size: 12px
            font-weight: 500
            color: rgba(255, 255, 255, .4)
            margin-bottom: 5px
        
        select
            background-color: $c-main
            appearance: none
            padding: 0
            position: relative
            left: -5px
            margin: 0
            font-family: $f
            font-size: 18px
            font-weight: 500
            color: white
            border: none
    
    .section-header
        font-size: 14px
        margin-bottom: 20px
        margin-top: 40px
    
    .form-group
        margin-left: 0
        margin-bottom: 0
        margin-top: 0
        position: relative

        &.show-rubric > .rubric
            display: block

        &:hover > .rubric
            display: block

        .rubric
            position: absolute
            top: 50%
            transform: translateY(-50%)
            right: 0
            z-index: 1
            border: 1px solid $c-button
            font-family: $f
            display: none
            width: 300px
            background-color: $c-main
            text-align: left

            &:hover
                display: block

            th
                font-weight: 500
                color: rgba(255, 255, 255, .8)
                font-size: 12px
                padding: 5px 7px
            
            td
                font-weight: 400
                padding: 5px 7px
                font-size: 12px
                color: rgba(255, 255, 255, .7)

        &:not(:last-of-type) label
            border-bottom: none

        label
            width: 560px
            display: inline-block
            border: 1px solid $c-button
            padding: 12px 10px
            vertical-align: top
            margin-bottom: 0
            color: rgba(255, 255, 255, .8)

        .input-wrapper
            display: inline-block
            position: absolute
            right: 0
            top: 0
            left: 560px
            bottom: 0
            width: 35px
            height: 100%
            background-color: $c-button
        
        input
            display: inline-block
            width: 35px
            border: none
            background-color: $c-button
            height: 100%