<menu-bar></menu-bar>

<section class="courses cf">
  <div class="section-header">
    <a (click)="loadSection('incomplete')" [ngClass]="{ active: currentSection == 'incomplete' }">Incomplete</a>
    <a (click)="loadSection('complete')" [ngClass]="{ active: currentSection == 'complete' }">Complete</a>
  </div>
  <aside>
    <h1>Hi, {{ faculty.first_name }} {{ faculty.last_name }}.</h1>
    <p *ngIf="currentSection == 'complete'">These are your completed courses. You don’t need to do anything else for these courses.</p>
    <p *ngIf="currentSection == 'incomplete'">These are your incomplete courses. Click on them to continue filling out assessments.</p>
  </aside>
  <div class="content cf">
    <div *ngFor="let course of visibleCourses" class="course-card" [routerLink]="['/assessment', course.crn]">
      <h3 class="course-title">{{ course.course_type }} {{ course.course_name }}</h3>
      <p class="course-data"><span class="crn">ITEC {{ course.course_number }} -</span> SLO <span *ngFor="let slo of course.assigned_slos; let isLast=last">#{{ slo.slo_id }}{{isLast ? '' : ', '}}</span></p>
    </div>
  </div>
  <div *ngIf="loading_courses" class="loader">
      <p class="loading-text">Loading your course data...</p>
      <div id="progress-bar">
        <div id="loadingProgressG_1" class="progress-bar"></div>
      </div>
  </div>
</section>

<section class="new-assessment cf">
  <div class="section-header">
    <a class="active">Create New Course</a>
  </div>

  <aside>
    <h1>Ready to Start?</h1>
    <p>To begin a new Student Learning Objective let’s start by creating a new class.</p>
  </aside>

  <div class="content cf">
      <form class="new-assessment-form" [formGroup]="form.getForm()" (ngSubmit)="form.isValid() && submit()" novalidate>
        <div class="form-row">
          <div class="form-group">
            <label for="crn">CRN</label>
            <input type="text" formControlName="crn" name="crn" placeholder="12345" size="11">
            <div *ngIf="form.hasError('crn')" class="error">5 digit number</div>
          </div>
          <div class="form-group">
            <label for="course_number">Course Number</label>
            <input type="text" formControlName="course_number" name="course_number" placeholder="4750" size="11">
            <div *ngIf="form.hasError('course_number')" class="error">4 digit number</div>
          </div>
          <div class="form-group">
            <label for="semester">Semester</label>
            <select name="semester" formControlName="semester">
              <option value="Fall">Fall</option>
              <option value="Spring">Spring</option>
              <option value="Summer">Summer</option>
            </select>
            <div *ngIf="form.hasError('semester')" class="error">Required</div>
          </div>
          <div class="form-group">
            <label for="year">Year</label>
            <input type="text" formControlName="course_year" placeholder="2017" size="9">
            <div *ngIf="form.hasError('course_year')" class="error">4 digit year</div>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <label for="type">Course Type</label>
            <select name="type" formControlName="course_type">
              <option value="F2F">Face-to-Face</option>
              <option value="ONLINE">Online</option>
            </select>
            <div *ngIf="form.hasError('course_type')" class="error">Required</div>
          </div>
          <div class="form-group">
            <label for="title">Course Title</label>
            <input type="text" formControlName="course_name" placeholder="Forensics and Data Recovery" size="45">
            <div *ngIf="form.hasError('course_name')" class="error">Required, Max 255 chars</div>
          </div>
        </div>

        <div class="form-row">
          <label class="section-label">Select SLOs</label>
          <div *ngFor="let slo of slos" class="slo-option cf">
            <input type="checkbox" value="{{ slo.slo_id }}" id="SLO_{{ slo.slo_id }}" (change)="selectSLO(slo, $event)">
            <label for="SLO_{{ slo.slo_id }}">SLO {{ slo.slo_id }} - {{ slo.slo_description }}</label>
          </div>
        </div>

        <div class="form-row">
          <div class="form-group">
            <button type="submit" class="button" [disabled]="submitLoading" [ngClass]="{ 'loading': submitLoading }"><img *ngIf="submitLoading" src="assets/Rolling.gif" /><span *ngIf="!submitLoading">Create Course</span></button>
          </div>
        </div>
      </form>
  </div>

  <div *ngIf="loading_courses" class="loader">
      <p class="loading-text">Loading slo information...</p>
      <div id="progress-bar">
        <div id="loadingProgressG_1" class="progress-bar"></div>
      </div>
  </div>
</section>