<aside>
    <h1>Let's Add Your Students</h1>
    <p>To assess your students, first add them to your class. When you have added all your students, press next below.</p>
    <p>Pro-tip: Use the enter key to add the student and start from the beginning.</p>
    <button class="button" (click)="nextSection()">Next - Assess Your Students</button>
</aside>

<div class="content cf">
    <form class="new-student-form" [formGroup]="form.getForm()" (ngSubmit)="form.isValid() && submit()" novalidate>
        <div class="form-row">
            <div class="form-group">
                <label for="student_id">Student Number</label>
                <input id="student_id_input" type="text" formControlName="student_id" name="student_id" placeholder="983000111" size="11">
                <div *ngIf="form.hasError('student_id')" class="error">9 digit number</div>
            </div>
            <div class="form-group">
                <label for="last_name">Last Name</label>
                <input type="text" formControlName="last_name" placeholder="Smith" size="11">
                <div *ngIf="form.hasError('last_name')" class="error">required</div>
            </div>
            <div class="form-group">
                <label for="first_name">First Name</label>
                <input type="text" formControlName="first_name" placeholder="John" size="11">
                <div *ngIf="form.hasError('first_name')" class="error">required</div>
            </div>
            <div class="form-group">
                <button type="submit" class="button" [disabled]="formLoading" [ngClass]="{ 'loading': formLoading }"><img *ngIf="formLoading" src="assets/Rolling.gif" /><span *ngIf="!formLoading">Submit</span></button>
            </div>
        </div>
    </form>

    <div class="students" id="students-container">
        <p class="student-heading">Your Students</p>
        <div *ngFor="let student of course.students" (click)="removeStudentConfirm(student, course)" [ngClass]="{ 'assessed': studentAssessed(student) }" [id]="student.student_id" class="student">
            {{ student.student_id }} - {{ student.last_name }}, {{ student.first_name }}
            <span class="remove">✖</span>
        </div>
    </div>

</div>

<div *ngIf="loadingAssessments" class="loader">
    <p class="loading-text">Loading students...</p>
    <div id="progress-bar">
        <div id="loadingProgressG_1" class="progress-bar"></div>
    </div>
</div>